html , body{
    margin: 0;
}

.Mainheader{
    background-image: url('../assets/Backgroundimgs/headerbgimg.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire header */
    background-repeat: no-repeat;
    margin-top: -10px;
    height: 290px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Mainheader.login {
    background-image: url('../assets/Backgroundimgs/headerbgimginloginpage.jpg'); /* Login-specific image */
    background-position: right 0px top ;
}

.logoimg{
    width: 250px;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 25px;
}

.Headertitle{
    font-size: 80px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600; 
    color: #FFFFFF;
}

.HeaderLoginbutton {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 35px;
    right: 50px;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 18px; 
    background-color: #FADD51;
    border: none;
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
}

.HamburgerMenu{
    display: none;
}


/* -------------------------------------------navcomp---------------------------------------------------- */


.nav-container{
    height: 60px;
    background: linear-gradient(90deg, #FADD51,#FADD51, #FFC107, #F9A825);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 30px; */
}

.navbuttons{
    text-decoration: none;
    font-size: 25px;
    color: #333333;
}


.subnav-container {
    width: 250px;
    /* height: 100vh; */
    border-radius: 25px;
    background: linear-gradient(45deg, #000000, #1C1C1C, #333333);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 10px; */
    padding: 20px;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}


.subnavbuttons {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
}
.subnavbuttonsmt {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 16px;
    /* width: 100%; */
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
}

.subnavbuttons:hover {
    background-color: #FFEB3B;
    color: #000;
    transform: scale(1.05);
}


.subnavbuttons.active {
    background-color: #f9ab35; 
    color: #FFF;
    transform: scale(1.08);
    font-weight: bold;
    border-left: 5px solid #f9ed85; /* Highlight active tab */
}

.subnavheader {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px solid #FFEB3B; /* Adds a separator */
    margin-bottom: 10px;
    /* background: linear-gradient(45deg, #FF9800, #FFEB3B); */
    /* border-radius: 8px; */
}




/* -------------------------------------------Footercomp---------------------------------------------------- */


.FooterMainComp {
    height: 260px;
    background: linear-gradient(45deg, #000000, #1C1C1C, #333333);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0 ;
}


.Footercomps{
    display: flex;
    flex-direction: row;
    gap: 80px;
    /* justify-content: space-evenly; */
    color: wheat;
}

.FooterLogo{
    width: 200px;
    border-radius: 50%;
}


.address{
    width: 150px;
    text-decoration: none;
    font-size: 17px;
    color: wheat;
}

.footerlinks{
    text-decoration: none;
    font-size: 17px;
    color: wheat;
}

.copyright {
    background-color: #333333;
    height: 50px;
    color: #FFFFFF; /* Adjust color based on your choice */
    text-align: center; /* Center-align text */
    line-height: 50px; /* Vertically center the text */
    font-size: 18px; 
}

.subnav-containermt{
    display: none;
}


/* For medium devices (600px to 900px width) */
@media (max-width: 1025px) {
    .subnav-container{
        display: none;
    }

    .subnav-containermt {
        width: 100%;
        background: linear-gradient(45deg, #000000, #1C1C1C, #333333);
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 20px;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
        /* margin-top: 30px; */
        /* margin-bottom: 30px; */
    }

    .Mainheader{
        background-image: url('../assets/Backgroundimgs/headerbgimg.jpg'); /* Replace with your image URL */
        background-size: cover; /* Ensures the image covers the entire header */
        background-repeat: no-repeat;
        margin-top: 0px;
        height: 290px; 
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .logoimg{
        width: 200px;
        border-radius: 100%;
        position: relative;
        /* margin-left: -155px; */
        margin-top: -30px;
    }

    .Headertitle{
        font-size: 55px;
        font-family: 'Barlow', sans-serif;
        font-weight: 600; 
        color: #FFFFFF;
        margin-left: 60px;
    }

    .HeaderLoginbutton {
        top: 20px;
        right: 25px;
    }

    .Footercomps{
        transform: scale(0.8);
    }

    .FootQuickLinks h3{
        width: 139px;
    }

    .Mainheader.login {
        background-image: url('../assets/Backgroundimgs/headerbgimginloginpage.jpg'); /* Login-specific image */
        background-position: top -30px center ;
        background-size: 101%;
    }
}



/* For small devices (up to 600px width) */
@media (max-width: 431px) {

    .subnav-container{
        display: none;
    }

    .Mainheader.login {
        background-image: url('../assets/Backgroundimgs/headerbgimginloginpage.jpg'); /* Login-specific image */
        background-position: left center ;
        background-size: 150%;
    }
    .Footercomps{
        transform: scale(0.6);
    }
    /* Hamburger Menu */
.HamburgerMenu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    z-index: 20;
}

.HamburgerMenu .line {
    width: 100%;
    height: 4px;
    background-color: #000000; /* White lines */
    border-radius: 2px;
}

    .DropdownMenu {
        background-color: #FADD51; /* Matches the nav bar style */
        position: absolute;
        /* top: 60px;  */
        /* right: 10px; */
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding: 10px;
    }
    
    .DropdownMenu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .DropdownMenu li {
        padding: 10px 0;
        text-align: center;
    }
    
    .DropdownMenu li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        display: block;
        font-weight: 500;
    }
    
    .DropdownMenu li:hover {
        background-color: #FFD700; /* Highlight on hover */
    }



    .Navcomp , .HeaderLoginbutton{
        display: none;
    }

    .Mainheader{
        width: 100%;
        height: 130px;
        background-image: url('../assets/Backgroundimgs/Logobannerempty.jpg'); 
    }

    .logoimg{
        width: 100px;
        border-radius: 100%;
        position: relative;
        margin-left: -10px;
        margin-top: -30px;
    }

    .Headertitle{
        font-size: 25px;
        font-family: 'Barlow', sans-serif;
        font-weight: 600; 
        color: #FFFFFF;
        margin-left: 30px;
    }

    .HeaderLoginbutton {
        display: none;   
    }
    
    .HeaderLoginbuttons{
        display: block;
        width: 100px;
        height: 35px;
        position: absolute;
        text-align: center;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        font-size: 18px; 
        background-color: #FADD51;
        border: none;
        border-radius: 20px;
        color: #000000;
        top: 20px;
        right: 25px;
    }

    .FooterMainComp{
        height:700px;
    }
    
    .Footercomps{
        flex-direction: column;
        gap: 70px;
    }

    .Footaddresscomp{
        font-size: 25px !important;
        width: 207px !important;
    }

    .address{
        width: 250px !important;
        font-size: 23px !important;
    }

    .footerlinks{
        font-size: 23px;
    }

    .FooterLogo{
        margin-left: auto;
        margin-right: auto;
    }

    .copyright{
        font-size: 15px;
    }

    .FootQuickLinks hr{
        width: 150px;
    }   
}
